@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background:url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size:100vw;
    font-family: 'work sans', sans-serif;
}

.container{
    width: 100%;
    background-color: hsl(280, 100%, 96%);
    height: 70vh;
    position: relative;
    top:35vh;
    z-index: 1;
}

.hero{
    height: fit-content;
    width:42vw;
    background-color: white;
    align-items: center;
    position: relative;
    bottom:25%;
    left: 28%;
    border-radius: 15px;
    padding: 55px 45px;
}

.hero h1{
    align-items: center;
    font-size: 3.3rem;
}

.acc{
    top: 10px;
    position: relative;
}
.accordian{
cursor: pointer;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  margin-top: 20px;
  background-color: white;
}

.active:hover {
  color: #9D36CB;
}
.accordian:hover{
    color: #9D36CB;
  transition-duration: 0.2;
}
.accordian:after {
    content:url(./assets/images/icon-plus.svg);
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: url(./assets/images/icon-minus.svg);
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color:#B2A7B0;
  }
  @media screen and (max-width: 899px) {
    body{
      background-image: url(./assets/images/background-pattern-mobile.svg);
      background-repeat: no-repeat;
      height: 100vh;
    }
    .hero{
        width:90%;
        max-width: 100%;
        left: 5%;
        height: fit-content;
        padding: 20px 15px;
    }
    .container{
        height: 72%;
       bottom: -25px;
        
    }
    .hero h1{
        font-size: 1.9rem;
    }
    .hero h1 img{
        width: 10px;
        height: 20px;
    }
    .accordian{
        font-size: 16px;
    }

    .panel {
        padding: 0 10px;
    }
}
